/* VARIABLES */

$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-light: #fff;
$color-dark: #2c2c54;

$font-header: "Signika", sans-serif;
$font-text: "Inconsolata", sans-serif;

$transition: all 1s;

@mixin hover-light {
  &:hover {
    color: $color-light;
  }
}

@mixin flex-space-between-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* GLOBAL */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-text;
  color: $color-dark;
}

section {
  padding: 96px 0;
}

h2 {
  font-size: 48px;
  margin: 0 0 72px 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 24px 0;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: $transition;

  &:hover {
    background-position: 0 100%;
    color: $color-light;
  }
}

/* NAVIGATION */

.navigation {
  background-color: $color-one;
  padding: 12px 0;

  &__list {
    list-style-type: none;

    &-item {
      position: relative;
      display: inline-block;
      margin-right: 36px;

      &:hover ul {
        display: block;
        text-align: center;
      }

      > a {
        text-decoration: none;
        color: $color-light;
        transition: all 0.3s;

        &:hover {
          color: $color-two;
        }
      }

      ul {
        position: absolute;
        display: none;
        left: 50%;
        transform: translate(-50%);
        padding-top: 12px;
        list-style-type: none;
        background-color: $color-light;
        border-radius: 5px;
      }

      ul li {
        display: block;
        margin-bottom: 12px;
        padding: 0 24px;

        a {
          text-decoration: none;
          color: $color-one;

          &:hover {
            color: $color-two;
          }
        }
      }
    }
  }
}

/* SPLASH */

.splash {
  display: flex;
  background-color: $color-one;
  color: $color-light;
  min-height: 500px;

  &__inner {
    margin: auto;
    max-width: 70%;
  }

  &__title {
    font-size: 72px;
    word-spacing: -24px;
    line-height: 1.2;

    &--signika {
      font-family: $font-header;
    }
  }

  &__subtitle {
    margin: 24px 0;
    font-size: 16px;
    font-weight: 400;
  }

  &__btn-one {
    border-color: $color-light;
    color: $color-light;
    background-image: linear-gradient(90deg, $color-light 50%, transparent 50%);

    &:hover {
      color: $color-one;
    }
  }
}

/* SERVICES */

.services {
  &__number {
    position: absolute;
    top: -30px;
    left: -10px;
    font-size: 144px;
    line-height: 1;
    z-index: -1;
    font-family: $font-header;
    color: rgba(52, 218, 179, 0.274);
  }

  &__row {
    @include flex-space-between-wrap();
    margin-left: 70px;
  }

  &__title {
    font-size: 24px;
    margin: 0 0 12px 0;
  }

  &__txt {
    max-width: 80%;
    margin-bottom: 30px;
  }

  &__btn {
    margin-top: auto;
  }

  .box {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .btn-two {
    border-color: $color-two;
    color: $color-two;
    background-image: linear-gradient(90deg, $color-two 50%, transparent 50%);

    @include hover-light();
  }

  .btn-three {
    border-color: $color-three;
    color: $color-three;
    background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);

    @include hover-light();
  }

  .btn-four {
    border-color: $color-one;
    color: $color-one;
    background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);

    @include hover-light();
  }
}

/* WORK */

.img-1 {
  background: url("img/1.jpeg");
}
.img-2 {
  background: url("img/2.jpeg");
}
.img-3 {
  background: url("img/3.jpeg");
}
.img-4 {
  background: url("img/4.jpeg");
}

.work {
  &__row {
    @include flex-space-between-wrap();
    margin-left: 70px;
  }

  &__box {
    flex: 0 0 50%;
    min-height: 300px;
    margin-bottom: 96px;
    display: flex;
    column-gap: 50px;
    align-items: center;
  }

  &__box-img {
    position: relative;
    flex: 80%;
    max-width: 250px;
    height: 100%;
    background-position: center center;
    background-size: cover;

    &::after {
      transition: $transition;
      position: absolute;
      content: "";
      top: 20px;
      left: 20px;
      width: 100%;
      height: 100%;
      background: rgba(51, 217, 178, 0.404);
    }

    &:hover::after {
      top: 0;
      left: 0;
    }
  }

  &__box-description {
    h3 {
      margin: 0 0 12px;
    }

    p {
      width: 70%;
    }
  }

  &__btn-five {
    border: none;
    margin: 16px 0;
    text-align: left;
    color: $color-one;

    &:hover {
      color: $color-two;
    }
  }
}

/* CONTACT */

.contact {
  color: $color-light;

  background-color: $color-one;
  &__flex {
    display: flex;
    justify-content: center;
  }

  &__form-box {
    width: 70%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-right: 96px;

    textarea {
      resize: none;
    }

    input,
    textarea {
      background: $color-one;
      border: none;
      border-bottom: 5px solid $color-light;
      color: $color-light;
      font-size: 16px;
      outline: none;
      margin-bottom: 20px;
      padding: 0 0 20px 20px;

      &::placeholder {
        font-family: $font-text;
        color: $color-light;
      }
    }

    .btn-six {
      border-color: $color-light;
      color: $color-light;
      background-image: linear-gradient(
        90deg,
        $color-light 50%,
        transparent 50%
      );

      &:hover {
        color: $color-one;
      }
    }
  }

  &__address {
    p {
      margin-bottom: 20px;
    }
  }
}

/* FOOTER */

.footer {
  background: $color-light;

  &__social-media {
    padding: 48px 0;

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      column-gap: 20px;
      li {
        font-size: 0;
        a {
          text-decoration: none;
          i {
            color: $color-light;
            background-color: $color-three;
            font-size: 30px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            line-height: 60px;
            text-align: center;
            transition: $transition;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
